.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Пассажирские самолеты
				p.distance от Земли ~9-12 км

		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Грузовые самолеты
				p.distance от Земли ~9-12 км

	.interesting-item__distance 12 км
