.interesting-item
	.interesting-item__container
		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Гриф Рюпеля
				p.distance от Земли ~10-11 км

		.interesting-item__card
			img(
				src='./img/interesting/fighter.jpg',
				alt='fighter',
				draggable='false'
			)

			.interesting-item__card-info
				p.title Горный гусь
				p.distance от Земли ~10 км

	.interesting-item__distance 10 км
