doctype html
html(lang='en', prefix='og: https://ogp.me/ns#')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(
			name='description',
			content='Atmosfera va undagi 5 qatlam: ekzosfera, termosfera, mezosfera, stratosfera va troposfera haqida qiziq va interaktiv tarzda oʻrganing! | Sinaps.uz — zamonaviy ilm-fan portali!'
		)

		meta(property='og:title', content='Atmosferaning 5 qatlami')
		meta(
			property='og:description',
			content='Yer atmosferasi bu — sayyoramizni oʻrab olgan havo qobigʻi. U azot (78%), kislorod (21%), argon (0,93%), karbonat angidrid (0,03%) va boshqa gazlar aralashmasidan iborat. Tortishish kuchi atmosferani Yer atrofida tutib turadi va Yer yuzasidan yuzlab kilometrlargacha yuqoriga choʻzilgan boʻladi.'
		)
		meta(property='og:image', content='./img/preview.png')
		meta(property='og:url', content='https://sinaps.uz/landings/atmosfera')

		link(
			refl='apple-touch-icon',
			sizes='180x180',
			href='./img/apple-touch-icon.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='32x32',
			href='./img/favicon-32x32.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='16x16',
			href='./img/favicon-16x16.png'
		)

		link(rel='manifest', href='./site.webmanifest')

		link(rel='stylesheet', href='./plugins/fullpage.min.css')
		link(rel='stylesheet', href='./css/main.css')

		title Atmosfera - Landing - Sinaps

		//Begin head custom Styles
		block headCustomCssStyle

		//Begin head custom Scripts
		block headCustomScript

	body
		include ../components/header/header.pug

		//- button.up up

		main#app
			block mainContent

			block modalHtml
			block mobile-menu

		script(src='./plugins/fullpage.min.js', type='text/javascript', defer)
		script(src='./js/app.js', defer)

		block endJsCustomScript
