doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(
			refl='apple-touch-icon',
			sizes='180x180',
			href='./img/apple-touch-icon.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='32x32',
			href='./img/favicon-32x32.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='16x16',
			href='./img/favicon-16x16.png'
		)
		link(rel='manifest', href='./img/site.webmanifest')
		title Atmosfera

		link(rel='stylesheet', href='./plugins/fullpage.min.css')
		link(rel='stylesheet', href='./css/main.css')

		//Begin head custom Styles
		block headCustomCssStyle

		//Begin head custom Scripts
		block headCustomScript

	body
		include ../components/header/header.pug

		//- button.up up


		main#app
			block mainContent

			block modalHtml
			block mobile-menu

		script(src='./plugins/fullpage.min.js', type='text/javascript', defer)
		script(src='./js/app.js', defer)

		block endJsCustomScript
